{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "extends": ["standard"],
  "rules": {
    "no-unused-vars": 1,
    "comma-dangle": [1, "always-multiline"]
  }
}
