.hc
.hc_live*
.DS_Store
Cargo.lock
bundle.json
.cargo/

node_modules/

# Rust build files
/target/
# Holochain build files
/happs/**/*.dna
/bundles/**/.hc
/bundles/**/*.happ

# https://github.com/maxlath/backup-github-repo
/repo-backup
