.hc
.hc_live*
.DS_Store
#Cargo.lock
bundle.json
.cargo/

node_modules/

# Rust build files
/target/
# Holochain build files
/dna_bundles/**/*.dna
/bundles/**/.hc
/bundles/**/*.happ
/webhapp/**/*.webhapp

# Manifest Files Under Automation
/bundles/*_template/*

# https://github.com/maxlath/backup-github-repo
/repo-backup
