.hc
.hc_live*
.DS_Store
#Cargo.lock
bundle.json
.cargo/

node_modules/

# Rust build files
/target/
# Holochain build files
/bundles/dna/*
/bundles/app/*
/bundles/web-app/*.webhapp

# temporary lockfiles for tests, which need to be separate to workspace
lib/**/tests/Cargo.lock

# https://github.com/maxlath/backup-github-repo
/repo-backup
